// Variables start

$white-color:#fff;
$black-color:#403F4C;
$blue-color:#045CFC;

$red-color:#ED145B;
$grey-color:#4F4F4F;
$orange-color:#FFB27D;
$green-color:#8DC63F;
$main-font: 'Montserrat',sans-serif;

%flex-between{
  display: flex;
  align-items: center;
  
  
}

// Variables end